<!DOCTYPE html>
<html lang="es">
<head>
	<title>Modprov</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				Inventario <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="{{url_for('static',filename='images/avatar.jpg')}}" alt="UserIcon">
					<figcaption class="text-center text-titles">Juliana Nail Spa</figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="/" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			</ul>
		</div>
	</section>

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
			  <a class="navbar-brand" href="/home">Inicio</a>
			  <div class="collapse navbar-collapse" id="navbarNavDropdown">

				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="navbar-brand" href="{{ url_for('prov') }}">Proveedores...</a>
				  </li>
				  <li class="nav-item">
					<a class="navbar-brand" href="{{ url_for('clien') }}">Clientes...</a>
				  </li>
				  <li class="nav-item">
					<a class="navbar-brand" href="{{ url_for('vent') }}">Ventas...</a>
				  </li>
				  <li class="nav-item">
					<a class="navbar-brand" href="{{ url_for('prod') }}">Productos...</a>
				  </li>
				</li>
				<li class="nav-item">
				  <a class="navbar-brand" href="{{ url_for('invent') }}">Inventario...</a>
				</li>
				</ul>
			  </div>
			</div>
		  </nav>
		  <ul class="nav nav-pills nav-fill">
			<li class="nav-item">
			  <a class="nav-link" href="{{ url_for('agreprov') }}">Agregar Proveedores</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{{ url_for('modprov') }}">Modificar Proveedores</a>
			</li>
		  </ul>
		<!-- Content page -->
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="new">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-md-10 col-md-offset-1">
							<form method="GET">
								<div class="table-responsive">
									<table class="table table-hover text-center">
										<thead>
											<tr>
												<th class="text-center">NIT</th>
												<th class="text-center">Nombre</th>
												<th class="text-center">Telefono</th>
												<th class="text-center">Direccion</th>
												<th class="text-center">Ciudad</th>
											</tr>
										</thead>
										<tbody>
											{%for i in resultadosprov%}
											<tr>
											  <td>{{i.nit}}</td>
											  <td>{{i.nombre}}</td>
											  <td>{{i.telefono}}</td>
											  <td>{{i.direccion}}</td>
											  <td>{{i.ciudad}}</td>
											</tr>
											{%endfor%}
										  </tbody>
									</table>
								</div>
								<p class="text-center">
									<button type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-refresh"></i> Actualizar</button>
								</p>
							</form>				
							  <form method="POST">
								<div class="form-group label-floating">
								  <label for="inputnit" class="control-label">NIT</label>
								  <input class="form-control" id="inputnit" name="nit" value="{{ request.form['nit'] }}">
								</div>
								<div class="form-group label-floating">
								  <label for="inputnombre" class="control-label">Nombre</label>
								  <input class="form-control" id="inputnombre" name="nombre_prov" value="{{ request.form['nombre_prov'] }}">
								</div>
								<div class="form-group label-floating">
								  <label for="inputtel" class="control-label">Telefono</label>
								  <input class="form-control" id="inputtel" name="telefono_prov" value="{{ request.form['telefono_prov'] }}">
								</div>
								<div class="form-group label-floating">
								  <label for="inputdir" class="control-label">Direccion</label>
								  <input class="form-control" id="inputdir" name="direccion_prov" value="{{ request.form['direccion_prov'] }}">
								</div>
								<div class="form-group label-floating">
								  <label for="inputciu" class="control-label">Ciudad</label>
								  <input class="form-control" id="inputciu" name="ciudad_prov" value="{{ request.form['ciudad_prov'] }}">
								</div>
								<p class="text-center">
									<button type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> Guardar</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
	<!--====== Scripts -->
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/sweetalert2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/material.min.js"></script>
	<script src="/static/js/ripples.min.js"></script>
	<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script>
		$.material.init();
	</script>
</body>
</html>
